.badgeList {
    display: flex;

    &.horizontal > *:not(:first-child):not(:last-child) {
            margin: 0 .25rem;
    }

    &.vertical {
        flex-direction: column;

        & > *:not(:first-child):not(:last-child) {
            margin: .25rem 0;
        }
    }
}