.slideshow {
    height: 100%;


    & > .slideContainer {
        height: 100%;

        position: absolute;

        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}
