@import "../../globalVariables";

.pagination {
  display: inline-flex;
  align-items: center;

  &.light {
      & > button > svg > path:first-child {
        fill: $darker-font-color;
      }

      & > ul > li > button {
          color: $darker-font-color;
      }

      & > ul > li.selected > button {
          color: $darkest-font-color;
      }
  }

  &.dark {
      & > button > svg > path:first-child {
        fill: $lighter-font-color;
      }

      & > ul > li > button {
          color: $lighter-font-color;
      }

      & > ul > li.selected > button {
          color: $lightest-font-color;
      }
  }

  & > ul {
    display: flex;
    align-items: center;

    & > li {
      margin: 0 0.25rem;

      & > button {
        font-family: Quicksand-Medium;
        font-size: 1rem;
      }
    }
  }
}
