@import '../../globalVariables';

.badge {
    display: inline-block;

    padding: .5rem 1rem;
    border-radius: .9375rem;

    font-size: .875rem;
    color: $darker-font-color;

    background-color: $lightest-background-color;
}