@import '../../globalVariables';

.badge {
    display: inline-block;

    padding: .5rem 1rem;
    border-radius: .9375rem;

    font-size: .875rem;
    font-weight: 600;

    &.light {
        color: $lighter-font-color;

        background-color: $darkest-background-color;
    }

    &.dark {
        color: $darker-font-color;

        background-color: $lightest-background-color;
    }
}