# FRONTEND

# IDE
.vscode

# Dependencies
node_modules

# Deployment
build

# Environment variables
.env.*


# BACKEND

# IDE
server/.vscode

# Dependencies
server/node_modules

# Image Uploads
server/public/image-uploads

# Environment Variables
server/*.env

# Misc
server/.gitignore
server/package-lock.json
server/package.json