@import '../../globalVariables';

.button {
    border-radius: $default-button-border-radius;

    transition-timing-function: ease-in-out;
    transition-duration: .25s;
    transition-property: color, background-color;

    padding: .5rem 0;

    font-size: 1rem;
    line-height: 1;
    font-family: Quicksand-Bold;
    letter-spacing: 1px;

    &.small {
        width: 100px;
    }

    &.medium {
        width: 150px;
    }

    &.large {
        width: 200px;
    }

    &.fluid {
        width: 100%;
    }

    &.primaryAccent {
        color: $lightest-font-color;

        background-color: $primary-accent-color;

        &:hover {
            background-color: $primary-accent-color-hover;
        }
    }

    &.secondaryAccent {
        color: $darkest-font-color;

        background-color: $secondary-accent-color;

        &:hover {
            background-color: $secondary-accent-color-hover;
        }
    }

    &.invertedPrimaryAccent {
        color: $primary-accent-color;

        border: 1px solid $primary-accent-color;

        &:hover {
            color: $lightest-font-color;
            
            background-color: $primary-accent-color;
        }
    }

    &.invertedSecondaryAccent {
        color: $secondary-accent-color;

        border: 1px solid $secondary-accent-color;

        &:hover {
            color: $darkest-font-color;

            background-color: $secondary-accent-color;
        }
    }
}

