@import '../../globalVariables';

.toast {
  width: 200px;

  display: flex;
  flex-direction: column;

  padding: 1rem;

  position: absolute;
  top: 5px;
  right: 0;
  z-index: 3;
  transform: translateX(100%);

  border-radius: 0.5rem;

  animation-name: showToast;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;

  &.success {
    background-color: #116611;
  }

  &.info {
    background-color: #261758;
  }

  &.warn {
    background-color: #806D15;
  }

  &.error {
    background-color: #801515;
  }

  &.light > p {
    color: $darker-font-color;
  }

  &.dark > p {
    color: $lighter-font-color;
  }

  & > p {
    margin: 0;
  }
}

@keyframes showToast {
  0% {
    transform: translateX(100%);
  }
  15% {
    transform: translateX(-5%);
    right: 5px;
  }
  17% {
    transform: translateX(0);
    right: 5px;
  }
  90% {
    transform: translateX(0);
    right: 5px;
  }
}
