@import '../../globalVariables';

.paragraph {
    display: flex;
    flex-direction: column;

    & > .content {
        display: flex;
        flex-direction: column;

        margin: -.5rem 0;

        & > * {
            margin: .5rem 0;
        }
    
        & > img {    
            width: 100%;
            min-height: 0;

            object-fit: cover;
        
            &.right {
                order: 1;
            }
        
            &.left {
                order: -1;
            }
        }
    
        & > p {
            text-align: justify;
        }
    }
}

@media only screen and (min-width: $md-breakpoint) {
    .paragraph > .content {
        flex-direction: row;

        margin: 0 -.5rem;

        & > * {
            margin: 0 .5rem;
        }

        & > img {
            width: initial;
            max-width: calc(50% - 1rem);
        }

        & > p {
            flex-grow: 1;
        }
    }
}