@import '../../globalVariables';

.paragraph {
    display: flex;
    flex-direction: column;

    & > * {
        margin: .5rem 0;
    }

    &.light > div.textContainer > p {
        color: $darker-font-color;
    }

    &.dark > div.textContainer > p {
        color: $lighter-font-color;
    }

    &.left {
        & > img {
            margin-top: 0;

            order: 1;
        }
        & > div.textContainer {
            margin-bottom: 0;

            order: 2;
        }
    }

    &.right, 
    &.center {
        & > img {
            margin-bottom: 0;

            order: 2;
        }

        & > div.textContainer {
            margin-top: 0;

            order: 1;
        }
    }

    & > img {
        min-width: 0;
        min-height: 0;
        width: 100%;  
        max-height: 1000px;  
    }

    & > .textContainer {
        display: flex;
        flex-direction: column;
        
        & > * {
            margin: .5rem 0;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        & > p {
            text-align: justify;
        }
    }
}

@media only screen and (min-width: $md-breakpoint) {
    .paragraph {
        flex-direction: row;
        align-items: stretch;

        &.left {
            & > img {
                margin-left: 0;
            }
            & > div.textContainer {
                margin-right: 0;
            }
        }

        &.right {
            & > img {
                margin-right: 0;
            }

            & > div.textContainer {
                margin-left: 0;
            }
        }
        
        & > * {
            flex: 1;

            margin: 0 .5rem;
        }

        & > img {
            object-fit: cover;
        }
    }
}