@import '../../globalVariables';

main {
    width: 95%;

    margin: auto;

    margin-top: $default-header-height;
}

@media only screen and (min-width: $sm-breakpoint) {
    main {
        width: 92.5%;
    }
}
@media only screen and (min-width: $md-breakpoint) {
    main {
        width: 90%;
    }
}
@media only screen and (min-width: $lg-breakpoint) {
    main {
        width: 85%;
    }
}
@media only screen and (min-width: $xl-breakpoint) {
    main {
        width: 75%;
    }
}