@import "../../globalVariables";

main {
  width: initial;

  margin: initial;
  margin-top: $default-header-height;

  & > div.filtersBarOuterContainer {
    background-color: $lightest-background-color;
    & > div.filtersBarInnerContainer {
      width: 75%;

      margin: 0 auto;

      height: 4rem;

      box-sizing: border-box;
      padding: 1rem 0;

      overflow-y: visible;

      position: relative;
      z-index: 1;
    }
  }

  & > .projectsContainer {
    display: flex;
    flex-direction: column;

    & > .projectOuterContainer {
      &:nth-child(2n + 1) {
        background-color: $darkest-background-color;
      }

      & > .projectInnerContainer {
        width: 75%;

        padding: 4rem 0;
        margin: 0 auto;
      }
    }
  }
}
