@import "../../globalVariables";

.showMoreButton {
  width: fit-content;

  display: flex;
  align-items: center;

  &.light {
    & > span {
      color: $darkest-font-color;
    }

    & > svg > path:first-child {
      fill: $darkest-font-color;
    }
  }

  &.dark {
    & > span {
      color: $lightest-font-color;
    }

    & > svg > path:first-child {
      fill: $lightest-font-color;
    }
  }
  
  & > span {
    font-family: Quicksand-Bold;
    font-size: 1rem;
  }
}
