@import "../../globalVariables";

div.filtersBar {
  display: flex;
  flex-direction: column;

  padding: .5rem;

  & > * {
    margin: .5rem 0;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &.light > div.checkboxListDropdownsContainer > button.clearFilters {
    color: $darkest-font-color;

    background-color: $light-background-color;
  }

  &.dark > div.checkboxListDropdownsContainer > button.clearFilters {
    color: $lightest-font-color;

    background-color: $dark-background-color;
  }

  & > div.checkboxListDropdownsContainer {
    display: flex;
    flex-direction: column;

    & > * {
        margin: .5rem 0;
    
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }

    & > button.clearFilters {
      padding: calc(0.375rem + 1px) 1rem;

      font-weight: 600;
      font-size: 1rem;
      line-height: 1.25;
    }
  }
}

@media only screen and (min-width: $md-breakpoint) {
  div.filtersBar {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    padding: initial;

    & > * {
        margin: 0;
    }

    & > div.checkboxListDropdownsContainer {
      flex-direction: row;
      align-items: flex-start;
      order: 1;

      & > * {
        margin: 0 0.5rem;

        &:first-child {
          margin-top: initial;
          margin-left: 0;
        }
        &:last-child {
          margin-bottom: initial;
          margin-right: 0;
        }
      }
    }

    & div.searchFieldContainer {
        order: 2;
    }
  }
}
