@import '../../globalVariables';

h1.heading {
    font-size: 2rem;
    font-family: Quicksand-Bold;
}

h2.heading {
    font-size: 1.5rem;
}

h3.heading {
    font-size: 1.25rem;
}

h4.heading {
    font-size: 1rem;
}

.heading {
    margin: 0;

    line-height: 1;
    font-weight: normal;
    font-family: Quicksand-SemiBold;

    &.light {
        color: $darkest-font-color;
    }

    &.dark {
        color: $lightest-font-color;
    }
}