@import "../../globalVariables";

div.checkboxListDropdown {
  overflow-y: visible;

  display: flex;
  flex-direction: column;

  &.light {
    & > button {
      & > div.listName {
        color: $darkest-font-color;
      }

      & > svg > path:first-child {
        fill: $darkest-font-color;
      }
    }
  }

  &.dark {
    & > button {
      & > div.listName {
        color: $lightest-font-color;
      }

      & > svg > path:first-child {
        fill: $lightest-font-color;
      }
    }
  }

  & > * {
    margin: .375rem 0; 

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  & > button {
    width: 100%;

    background-color: $lightest-background-color;

    display: flex;
    align-items: center;

    position: relative;
    z-index: 1;

    & > div.listName {
      flex: 1;

      font-family: Quicksand-Medium;
      font-size: 1rem;
      line-height: 1.25;

      text-align: start;
    }

    & > svg {
      width: 1.25rem;
      height: 1.25rem;

      display: none;
    }
  }

  & > div.checkboxListContainer {
    background-color: $lightest-background-color;
  }
}

@media only screen and (min-width: $md-breakpoint) {
  div.checkboxListDropdown {
    position: relative;

    &.light > div.checkboxListContainer {
      border-right: 1px solid $light-background-color;
      border-bottom: 1px solid $light-background-color;
      border-left: 1px solid $light-background-color;
    }

    &.dark > div.checkboxListContainer {
      border-right: 1px solid $dark-background-color;
      border-bottom: 1px solid $dark-background-color;
      border-left: 1px solid $dark-background-color;
    }

    & > * {
      margin: initial;
    }

    & > button {
      border: 1px solid transparent;
  
      transition: border 0.25s ease-in-out;

      padding: 0.375rem 0.5rem;

  
      &.expanded,
      &:hover {
        border: 1px solid $light-background-color;
      }

      & > div.listName {
        text-align: center;
      }
  
      & > svg {
        display: initial;
      }
    }

    & > div.checkboxListContainer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      transition: transform 0.25s ease-in-out;

      visibility: hidden;

      padding: 0.375rem 0.5rem;

      &.expanded {
        visibility: visible;

        transform: translateY(100%);
      }
    }
  }
}
