@import "../../globalVariables";

.header {
  width: 100%;
  height: $default-header-height;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  &.solid {
    background-color: $primary-accent-color;
  }
  &.transparent {
    background-color: transparent;
  }

  & > header {
    width: $default-main-width;
    height: 100%;

    margin: 0 auto;

    & > #mobileBurgerButton {
      display: inline-block;

      margin: 7.5px 0;

      &:after {
        content: "";

        width: 100vw;
        height: calc(100vh - #{$default-header-height});

        visibility: hidden;

        background-color: $darkest-background-color;

        margin-top: $default-header-height;

        position: fixed;
        top: 0;
        left: 0;

        opacity: 0;

        transition: opacity 0.5s ease;
      }

      & > svg {
        width: 35px;
        height: 35px;

        & > path:last-child {
          fill: $lightest-background-color;
        }
      }
    }

    & > #menuToggle {
      display: none;

      &:checked {
        & + #mobileBurgerButton {
          &:after {
            visibility: visible;

            opacity: 0.5;
          }
        }

        & ~ nav {
          transform: translateX(0);
        }
      }
    }

    & > nav {
      width: 70%;
      height: calc(100vh - #{$default-header-height});

      margin-top: $default-header-height;

      position: fixed;
      top: 0;
      left: 0;

      transform: translateX(-100%);

      background-color: $lightest-background-color;

      transition: transform 0.5s ease-in-out;

      display: flex;
      flex-direction: column;

      & > div.homeLinkContainer {
        border-bottom: $default-border;

        & > a {
          display: block;

          padding: 1rem 0.5rem;

          color: $darkest-font-color;
          font-size: 1rem;
          line-height: 1;
          letter-spacing: 1px;

          transition-property: color, background-color;
          transition-duration: 0.25s;
          transition-timing-function: ease-in-out;

          &.selected {
            color: $darker-font-color;
            background-color: $lighter-background-color;
          }

          &:hover {
            color: $dark-font-color;
            background-color: $lighter-background-color;
          }
        }
      }

      & > ul {
        display: flex;
        flex-direction: column;

        align-items: stretch;

        & > li {
          border-bottom: $default-border;

          & > a {
            display: block;

            padding: 1rem 0.5rem;

            color: $darkest-font-color;
            font-size: 1rem;
            line-height: 1;
            letter-spacing: 1px;

            transition-property: color, background-color;
            transition-duration: 0.25s;
            transition-timing-function: ease-in-out;

            &.selected {
              color: $darker-font-color;
              background-color: $lighter-background-color;
            }

            &:hover {
              color: $dark-font-color;
              background-color: $lighter-background-color;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $sm-breakpoint) {
  .header > header {
    width: $sm-breakpoint-main-width;
  }
}

@media only screen and (min-width: $md-breakpoint) {
  .header > header {
    width: $md-breakpoint-main-width;

    & > #mobileBurgerButton {
      display: none;
    }

    & > nav {
      width: initial;
      height: 100%;

      margin-top: initial;

      position: initial;
      top: initial;
      left: initial;

      transform: initial;

      background-color: initial;

      transition: initial;

      flex-direction: row;
      justify-content: space-between;

      & > div.homeLinkContainer {
        height: 100%;

        border-bottom: none;

        & > a {
          height: 100%;

          padding: 0;

          line-height: $default-header-height;
          color: $lightest-font-color;

          &.selected {
            color: $lightest-font-color;
            background-color: initial;
          }

          &:hover {
            color: $primary-accent-color;
            background-color: $lightest-background-color;
          }
        }
      }

      & > ul {
        height: 100%;

        flex-direction: initial;

        & > li {
          height: 100%;

          border-bottom: none;

          & > a {
            height: 100%;

            padding: 0 1rem;

            color: $lightest-font-color;

            line-height: $default-header-height;
            text-align: center;

            &.selected {
              color: $lightest-font-color;
              background-color: initial;
            }

            &:hover {
              color: $primary-accent-color;
              background-color: $lightest-background-color;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $lg-breakpoint) {
  .header > header {
    width: $lg-breakpoint-main-width;
  }
}

@media only screen and (min-width: $xl-breakpoint) {
  .header > header {
    width: $xl-breakpoint-main-width;
  }
}
