@import '../../globalVariables';

div.customTextArea {
    height: 100%;

    box-sizing: border-box;

    padding-top: .875rem;

    position: relative;

    overflow: hidden;
    
    &.small {
        width: 100px;
    }

    &.medium {
        width: 200px;
    }

    &.large {
        width: 300px;
    }

    &.fluid {
        width: 100%;
    }

    &.light {
        & > textarea {
            color: $darker-font-color;
        }

        & > label > .labelContent {
            color: $darkest-font-color;
        }
    }

    &.dark {
        & > textarea {
            color: $lighter-font-color;
        }

        & > label > .labelContent {
            color: $lightest-font-color;
        }
    }
    
    & > textarea {
        width: 100%;
        height: 100%;

        padding: .5rem;

        box-sizing: border-box;

        border:  1px solid black;

        outline: none;

        font-size: 1rem;
        line-height: 2rem;

        background-color: transparent;

        transition: all 0.3s ease;

        &:enabled:focus + label > span.labelContent,
        &:enabled:not(:empty) + label > span.labelContent,
        &:disabled:not(:empty) + label > span.labelContent {
          transform: translate(0);
      
          font-size: 0.875rem;
          line-height: 0.875rem;
        }

        &:enabled:focus,
        &:enabled:not(:empty) {
            border: 3px solid $primary-accent-color;
        }
    }   

    
    
    & > label {
        width: 100%;
        height: 100%;

        position: absolute;
        left: 0;
        top: 0;

        pointer-events: none;

        & > span.labelContent {
            position: absolute;
            top: 0;
            left: 0;

            transform: translate(calc(.5rem + 1px), calc(.5rem + .875rem + 1px));

            font-size: 1rem;
            line-height: 2rem;
            color: $lighter-font-color;
      
            transition: all 0.3s ease;
        }
    }
}