@font-face {
  src: url(../src/assets/fonts/Quicksand-Light.ttf);
  font-family: Quicksand-Light;
}
@font-face {
  src: url(../src/assets/fonts/Quicksand-Regular.ttf);
  font-family: Quicksand-Regular;
}
@font-face {
  src: url(../src/assets/fonts/Quicksand-Medium.ttf);
  font-family: Quicksand-Medium;
}
@font-face {
  src: url(../src/assets/fonts/Quicksand-Bold.ttf);
  font-family: Quicksand-SemiBold;
}
@font-face {
  src: url(../src/assets/fonts/Quicksand-Bold.ttf);
  font-family: Quicksand-Bold;
}
@import '../src/globalVariables';

html {
  height: 100%;

  font-size: 14px;
}

body {
  height: 100%;

  margin: 0;

  font-family: Quicksand-Regular, sans-serif;

  background-color: $darkest-background-color;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;

  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;

  background-color: transparent;

  border: none;

  cursor: pointer;

  padding: 0;

  outline: none;
}

@media only screen and (min-width: $sm-breakpoint) {
  html {
    font-size: 14.5px;
  }
}
@media only screen and (min-width: $md-breakpoint) {
  html {
    font-size: 15px;
  }
}
@media only screen and (min-width: $lg-breakpoint) {
  html {
    font-size: 15.5px;
  }
}
@media only screen and (min-width: $xl-breakpoint) {
  html {
    font-size: 16px;
  }
}