@import '../../globalVariables';

ul.checkboxList {
    display: flex;
    flex-direction: column;

    &.light > li > label {
        color: $darkest-font-color;
    }

    &.dark > li > label {
        color: $lightest-font-color;
    }

    & > li {
        margin: .25rem 0;

        display: flex;
        align-items: center;

        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        } 
        
        & > div.checkboxContainer, & > label {
            margin: 0 .125rem;

            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }

        & > label {
            flex: 1;
        }
    }
}