@import '../../globalVariables';

main {
    & > div.headingContainer {
        margin-bottom: 1.5rem;
    }

    & > div.content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    
        & > * {
            margin: .5rem 0;
    
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    
        & > img {
            width: 100%;

            min-width: 0;
            min-height: 0;
            max-height: 500px;

            object-fit: cover;
        }

        & > p {
            padding: 1rem;

            background-color: $darker-background-color;

            text-align: justify;

            color: $lighter-font-color;
        }
    }
}

@media only screen and (min-width: $md-breakpoint) {
    main > div.content {
        flex-direction: row;

        & > * {
            margin: 0 .5rem;
    
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }

        & > img {
            width: initial;
        }

        & > p {
            flex: 1;
        }
    }
}