// Colors
$primary-color: #5C1EC0;
$secondary-color: #E2FA41;

$primary-font-color: #000000;
$secondary-font-color: #ffffff;

$default-header-height: 50px;

$default-border: 1px solid #999999;
$default-box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.1);

$default-button-border-radius: .3rem;

$default-card-border-radius: .5rem;

$header-footer-padding-left-right: 1rem;

// Media query breakpoints
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;