// Colors
$primary-accent-color: hsl(263, 73%, 44%);
$primary-accent-color-hover: hsl(263, 73%, 24%);
$secondary-accent-color: hsl(68, 95%, 62%);
$secondary-accent-color-hover: hsl(68, 95%, 42%);

$lightest-background-color: hsl(240, 4%, 95%);
$lighter-background-color: hsl(250, 5, 90);
$light-background-color: hsl(250, 5, 85);
$dark-background-color: hsl(250, 5, 25);
$darker-background-color: hsl(250, 5, 20);
$darkest-background-color: hsl(250, 5, 15);

$lightest-font-color: hsl(250, 0, 90);
$lighter-font-color: hsl(250, 0, 75);
$light-font-color: hsl(250, 0, 60);
$dark-font-color: hsl(250, 0, 30);
$darker-font-color: hsl(250, 0, 20);
$darkest-font-color: hsl(250, 0, 10);

$default-header-height: 50px;

$default-border: 1px solid hsl(0, 0%, 70%);

$default-button-border-radius: 0.3rem;

$default-card-box-shadow: 0px 2.5px 15px rgba(0, 0, 0, 0.5);
$default-card-border-radius: 0.5rem;

$header-footer-padding-left-right: 1rem;

$default-main-width: 95%;
$sm-breakpoint-main-width: 92.5%;
$md-breakpoint-main-width: 90%;
$lg-breakpoint-main-width: 85%;
$xl-breakpoint-main-width: 75%;

// Media query breakpoints
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
