@font-face {
  src: url(assets/fonts/Quicksand-Light.ttf);
  font-family: Quicksand-Light;
}
@font-face {
  src: url(assets/fonts/Quicksand-Regular.ttf);
  font-family: Quicksand-Regular;
}
@font-face {
  src: url(assets/fonts/Quicksand-Medium.ttf);
  font-family: Quicksand-Medium;
}
@font-face {
  src: url(assets/fonts/Quicksand-Bold.ttf);
  font-family: Quicksand-SemiBold;
}
@font-face {
  src: url(assets/fonts/Quicksand-Bold.ttf);
  font-family: Quicksand-Bold;
}
@import './globalVariables';

html {
  height: 100%;

  font-size: 14px;
}

body {
  height: 100%;

  margin: 0;

  font-family: Quicksand-Regular, sans-serif;

  background-color: $lightest-background-color;
}

#root {
  min-height: 100%;

  display: flex;
  flex-direction: column;
}

main {
  width: $default-main-width;

  margin: auto;

  margin-top: $default-header-height;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;

  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;

  background-color: transparent;

  border: none;

  cursor: pointer;

  padding: 0;

  outline: none;
}

.fade {
  opacity: 0;
}

.fade-in {
  animation-name: fade-in;
  animation-duration: .75s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media only screen and (min-width: $sm-breakpoint) {
  html {
    font-size: 14.5px;
  }

  main {
      width: $sm-breakpoint-main-width;
  }
}
@media only screen and (min-width: $md-breakpoint) {
  html {
    font-size: 15px;
  }

  main {
      width:  $md-breakpoint-main-width;
  }
}
@media only screen and (min-width: $lg-breakpoint) {
  html {
    font-size: 15.5px;
  }

  main {
      width: $lg-breakpoint-main-width;
  }
}
@media only screen and (min-width: $xl-breakpoint) {
  html {
    font-size: 16px;
  }

  main {
      width: $xl-breakpoint-main-width;
  }
}