@import './globalVariables';
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
  height: 100%;

  font-size: 14px;
}

body {
  height: 100%;

  margin: 0;

  font-family: 'Quicksand', sans-serif;

  background-color: $lightest-background-color;
}

#root {
  min-height: 100%;

  overflow: auto;

  display: flex;
  flex-direction: column;
}

main {
  width: 95%;

  margin: auto;

  margin-top: $default-header-height;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;

  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;

  background-color: transparent;

  border: none;

  cursor: pointer;

  padding: 0;

  outline: none;
}

@media only screen and (min-width: $sm-breakpoint) {
  html {
    font-size: 14.5px;
  }

  main {
      width: 92.5%;
  }
}
@media only screen and (min-width: $md-breakpoint) {
  html {
    font-size: 15px;
  }

  main {
      width: 90%;
  }
}
@media only screen and (min-width: $lg-breakpoint) {
  html {
    font-size: 15.5px;
  }

  main {
      width: 85%;
  }
}
@media only screen and (min-width: $xl-breakpoint) {
  html {
    font-size: 16px;
  }

  main {
      width: 75%;
  }
}