@import './globalVariables';
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
  height: 100%;

  font-size: 14px;
}

body {
  height: 100%;

  margin: 0;

  font-family: 'Quicksand', sans-serif;

  background-color: $lightest-background-color;
}

#root {
  min-height: 100%;

  overflow: auto;

  display: flex;
  flex-direction: column;
}

main {
  width: $default-main-width;

  margin: auto;

  margin-top: $default-header-height;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;

  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;

  background-color: transparent;

  border: none;

  cursor: pointer;

  padding: 0;

  outline: none;
}

.fade-in {
  animation-name: fade-in;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media only screen and (min-width: $sm-breakpoint) {
  html {
    font-size: 14.5px;
  }

  main {
      width: $sm-breakpoint-main-width;
  }
}
@media only screen and (min-width: $md-breakpoint) {
  html {
    font-size: 15px;
  }

  main {
      width:  $md-breakpoint-main-width;
  }
}
@media only screen and (min-width: $lg-breakpoint) {
  html {
    font-size: 15.5px;
  }

  main {
      width: $lg-breakpoint-main-width;
  }
}
@media only screen and (min-width: $xl-breakpoint) {
  html {
    font-size: 16px;
  }

  main {
      width: $xl-breakpoint-main-width;
  }
}