@import "../../globalVariables";

.customLink {
    display: inline-block;

    border-radius: $default-button-border-radius;

    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
    transition-property: filter;

    box-sizing: border-box;
    padding: 0.5rem 0;

    font-size: 1.125rem;
    line-height: 1;
    font-family: Quicksand-Bold;
    text-align: center;

    &.default {
        background-color: $primary-accent-color;

        box-shadow: $default-button-box-shadow;

        &.light {
            color: $lightest-font-color;
        }
        &.dark {
            color: $darkest-font-color;
        }
    }
    &.inverted {
        background-color: transparent;

        border-width: 1px;
        border-style: solid;
        border-color: $primary-accent-color;

        color: $primary-accent-color;
    }

    &.small {
        width: 100px;
    }

    &.medium {
        width: 150px;
    }

    &.large {
        width: 200px;
    }

    &.fluid {
        width: 100%;
    }

    &:hover {
        filter: brightness(80%);
    }
}
