@import "../../globalVariables";

div.searchField {
  position: relative;

  &.light {
    & > input[type="text"] {
      border-bottom: 1px solid $darkest-background-color;

      color: $darkest-font-color;
    }

    & > svg > path:first-child {
      fill: $darkest-font-color;
    }
  }
  &.dark {
    & > input[type="text"] {
      border-bottom: 1px solid $lightest-background-color;

      color: $lightest-font-color;
    }
    & > svg > path:first-child {
      fill: $lightest-font-color;
    }
  }

  & > input[type="text"] {
    width: 100%;
    
    background-color: transparent;

    border: none;

    font-size: 1rem;
    line-height: 1.25;

    box-sizing: border-box;
    padding: .375rem 3.5rem .375rem 1rem;

    outline: none;
  }

  & > svg {
    width: 1.25rem;
    height: 1.25rem;

    position: absolute;

    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
  }
}
